<div class="container py-1">
  <div class="jumbotron py-4 mb-3">
    <h1>
      <a routerLink="/">Angular Design Patterns</a>
    </h1>
  </div>

  <nav class="mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/patterns/inheritance"
        >
          Inheritance
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/patterns/composition"
        >
          Composition
        </a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
